{% extends 'default.html' %}
 {% block menu1 %}
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="javascript:history.back()"><i class="fa fa-arrow-left" aria-hidden="true" style="color:red;"></i> Back</a>
        </li>
        {% endblock %}  
{% block content %} {% endblock %}
{% block contact %} {% endblock %}
{% block course %} {% endblock %}
{% load static %}
{% block title %} Password{% endblock %}
 

<style type="text/css">

button {
    width: 120px;
    padding: 10px;
    display: block;
    margin: 5px auto;
    border: 2px solid #111111;
    cursor: pointer;
    background-color: white;
}

#start-camera {
    margin-top: 5px;
    border-radius: 10px;
    background-color: ;
}

#video {
    display: none;
    margin: 2px;
   
    height:200px; 
    border: 5px solid red;
}

#click-photo {
    display: none;
}

#dataurl-container {
    display: none;
}

#canvas {
    display: block;
    margin: 2px;
    border: 5px solid green;
    height:200px;
}

#dataurl-header {
    text-align: center;
    font-size: 15px;
}

#dataurl {
    display: block;
    height: 100px;
    width: 320px;
    margin: 10px auto;
    resize: none;
    outline: none;
    border: 1px solid #111111;
    padding: 5px;
    font-size: 13px;
    box-sizing: border-box;
}

</style>
<script>

let camera_button = document.querySelector("#start-camera");
let video = document.querySelector("#video");
let click_button = document.querySelector("#click-photo");
let canvas = document.querySelector("#canvas");
let dataurl = document.querySelector("#dataurl");
let dataurl_container = document.querySelector("#dataurl-container");

camera_button.addEventListener('click', async function() {
    let stream = null;

    try {
      stream = await navigator.mediaDevices.getUserMedia({ video: true, audio: false });
    }
    catch(error) {
      alert(error.message);
      return;
    }

    video.srcObject = stream;

    video.style.display = 'block';
    camera_button.style.display = 'none';
    click_button.style.display = 'block';
});

click_button.addEventListener('click', function() {
    canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
    let image_data_url = canvas.toDataURL('image/jpeg');
   // document.getElementById('imgurl').value=canvas;
    
    dataurl.value = image_data_url;
    dataurl_container.style.display = 'block';
});

</script>

{% endblock %}

