{% extends 'default.html' %}
 {% block menu1 %}
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="javascript:history.back()"><i class="fa fa-arrow-left" aria-hidden="true" style="color:red;"></i> Back</a>
        </li>
        {% endblock %}
{% block content %} {% endblock %}
{% block contact %} {% endblock %}
{% block course %} {% endblock %}
{% block title %} Change Password {% endblock %}
{% block changepass %} 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" type='text/javascript'></script>
<script>
    function send()
        {
            document.getElementById("otpresult").innerHTML = "Sending OTP... ";
            var mail = document.getElementById("email").value;
            
            // Request Object
            var request = new XMLHttpRequest();
            //alert(req.readyState);

            var url = "sendotp?email="+mail;

            // Object Initialize
            request.open("GET",url);

            //alert(req.readyState);

            request.onreadystatechange = function()
            {
                if(request.readyState==4)
                {
                  var strrec=request.responseText;
                  var mes = strrec.slice(0,23);
                  document.getElementById("otpresult").innerHTML=mes;
                  var recotp=strrec.slice(23,-1);
                  document.getElementById("otprec").value =recotp;
                }
            }
            request.send();
        }    
  </script>

<script type="text/javascript">
  function validationfac() 
  {
    var emailid=document.f11.emailid.value;
    var password1=document.f11.password1.value;
    var password=document.f11.password.value; 
    var OTP=document.f11.OTP.value;
    var otpcheck = document.getElementById('otprec').value;
    
    if (emailid=="")
    {
      alert("Please enter Email-ID");
      document.f11.emailid.focus();
      return false;
    }

    if (password1=="")
    {
      alert("Please enter Password");
      document.f11.password1.focus();
      return false;
    }

    if (password=="")
    {
      alert("Please Re-enter Password");
      document.f11.password.focus();
      return false;
    }

    if(password1!=password)
    {
      alert("Password does not match");
      document.f11.password1.value="";
      document.f11.password.value="";
      document.f11.password1.focus();
      return false;
    } 
    if (OTP=="")
    {
      alert("Please Enter OTP");
      document.f11.OTP.focus();
      return false;
    }

    if(OTP!=otpcheck)
    {
      alert("OTP does not match");
      document.f11.OTP.value="";
      document.f11.OTP.focus();
      return false;
    } 

  }
</script>
<div class="container-fluid w-50" style=" padding-top: 10px;">
  <form name="f11" action="/resetstupass" method="POST" onsubmit="return validationfac();">
    {% csrf_token %}            
    <div class="row d-flex justify-content-center align-items-center">
       <input type="password" value="{{i.recotp}}" style=" display: none;">
        <div class="card text-black" style="border-radius: 25px; background-color:#858755;">
            <p class="text-center h1 fw-bold" style="color:white;">Reset Password</p>
                <table style="background-color:#465152; border-radius:20px;margin-bottom: 10px;">
                    <tr>
                      <td class="profile">Email id</td>
                      <td class="profile">:-</td>
                      <td class="profiledata"> 
                      <input type="email" id="email" name="emailid" style="color:red; font-size: 20px;" placeholder="Enter Email Id" class="form-control">
                      </td>
                    </tr>
                    <tr>
                      <td class="profile">Password</td>
                      <td class="profile">:-</td>
                      <td class="profiledata"> 
                      <input type="password" name="password1" style="color: green; font-size: 20px;"class="form-control" placeholder="Enter Password">
                      </td>
                    </tr>
                    <tr>
                      <td class="profile">Confirm Password</td>
                      <td class="profile">:-</td>
                      <td class="profiledata"> 
                      <input type="password" name="password" style="color: green; font-size: 20px;" class="form-control" placeholder="Re-Enter Password">
                      </td>
                    </tr>
                    <tr>
                      <td class="profile m-1"><input type="buton" class="btn btn-outline-danger rounded rounded-4 p-1" onclick="send();" style=" font-size:15px;" type="button" id="otpbtn" readonly="readonly" onclick="blockemail();" value="Generate OTP"></td>
                      <td class="profile">:-</td>
                      <td class="profiledata"> 
                      <input type="password" name="OTP" style="color: green; font-size: 20px;"class="form-control" placeholder="Enter OTP">
                      </td>
                    </tr>
                    <tr>
                     <td class="profile"><label class="form-label" for="form3Example1c" id="otpresult" style="color:red;"> </label><label class="form-label" for="form3Example1c" style="color:red;"></label>
                      <td align="center">
                        <input type="text" id="otprec" value="12356" class="display-block" readonly="readonly" style="color:#465152;; width: 0px; background-color:#465152; border: 0px solid #465152;">
                      <input  class="btn btn-success btn-outline-warning mb-2"
                       style="color:white;" type="submit" name="" Value="Reset"></td>
                    </tr> 
                    <tr>
                       <td colspan="3" style="color:red; padding-left: 15px; font-size:20px; ">{{mes}}</td>
                    </tr>
                  </table>
                    </div>
                  </div>
              </form>   
            </div>
          </div>
{% endblock %}

